$primary-color: #357b70;
$primary-color-darker: darken($primary-color, 20%);

a {
  color: $primary-color;
}

.bg-darker {
  background-color: $primary-color-darker;
}

.navigation-list {
  list-style-type: none;
}
.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}
.navigation-list li .navigation-list__item--active {
  text-decoration: none;
}

%button-shared {
  border: none;
  display: inline-block;
  font-family: inherit;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  transition: 0.2s opacity;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}


.button {
  @extend %button-shared;
  background-color: $primary-color;
}
